*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background: lightgrey;
    text-align: center;
    margin: auto;
}
#header{
    background: black;
    padding: 5px;
    color: white;
    margin: auto;
    display: block;
    margin-block-start: 10px;
    margin-block-end: 10px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
}
p{
    font-size: larger;
}
#intro{
    background: white;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    display: block;
    margin-block-start: 10px;
    margin-block-end: 10px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
}