*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background: #b3cad7;;
    text-align: center;
}
#header{
    background: black;
    padding: 5px;
    color: white;
    margin: auto;
    display: block;
    margin-block-start: 20px;
    margin-block-end: 20px;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
}
p{
    font-size: larger;
}
#intro{
    background: white;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    display: block;
    margin-block-start: 20px;
    margin-block-end: 20px;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
}
.button{
    background:navy;
    border: none;
    padding: 10px 30px 10px 30px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 4px 30px;
    cursor: pointer;
    border-radius: 10px;
  }
  #r6{
      color: white;
  }
  #gow{
      color: #990000;
  }
  #cod{
      color: #cc0;
  }
  img{
      width: 700px;
      height: 400px;
      padding: 10px;
  }
  